In [2]:
import pandas as pd

In [8]:
df = pd.read_csv('A_Z_cleaned.csv')
df.head()

,letter,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
letters = df[0].unique()
letters

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25])

In [4]:
df[0] = df[0].replace(
    {
        0: 'A',
        1: 'B',
        2: 'C',
        3: 'D',
        4: 'E',
        5: 'F',
        6: 'G',
        7: 'H',
        8: 'I',
        9: 'J',
        10: 'K',
        11: 'L',
        12: 'M',
        13: 'N',
        14: 'O',
        15: 'P',
        16: 'Q',
        17: 'R',
        18: 'S',
        19: 'T',
        20: 'U',
        21: 'V',
        22: 'W',
        23: 'X',
        24: 'Y',
        25: 'Z',
    }
)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df.rename(columns={0: 'letter'}, inplace=True)

In [7]:
a = df[df['letter'] == 'A']
a

KeyError: 'letter'

In [7]:
df.to_csv('A_Z_cleaned.csv', index=False)

In [25]:
not_a = df[df['letter'] != 'A']
not_a.head()

,letter,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
13870,B,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13871,B,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13872,B,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13873,B,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13874,B,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
not_a_sample = not_a.sample(n=20)
expected_output = []
for i in range(len(not_a_sample)):
    expected_output.append(0)
not_a_sample['expected'] = expected_output
not_a_sample

,letter,1,2,3,4,5,6,7,8,9,...,776,777,778,779,780,781,782,783,784,expected
254713,S,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
276959,S,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
218342,Q,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
339754,W,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
134720,N,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
357417,Y,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19440,B,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
115506,M,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
308461,U,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
200229,P,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
276164,S,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
227002,R,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41332,C,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
126843,N,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
170158,O,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
340533,W,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119762,M,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
158365,O,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
135186,N,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
122512,N,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
a_sample = a.sample(n=5)
a_sample

,letter,1,2,3,4,5,6,7,8,9,...,776,777,778,779,780,781,782,783,784,expected
7502,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1609,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7102,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
427,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3701,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [36]:
a_data_sample = pd.merge(a_sample, not_a_sample, how='outer')
a_data_sample

,letter,1,2,3,4,5,6,7,8,9,...,776,777,778,779,780,781,782,783,784,expected
0,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,S,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,S,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Q,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,W,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,N,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Y,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,B,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,M,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,U,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,P,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,S,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,R,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,C,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,N,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,O,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,W,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,M,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,O,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,N,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,N,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
a = df[df['letter'] == 'A']
a

,letter,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13865,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13866,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13867,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13868,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13869,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
a_sample = a.sample(n=2000)
a_sample

,letter,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
6676,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10782,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6818,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5794,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4310,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3653,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13825,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3383,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2950,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4313,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
else_sample = df.sample(n=8000)

In [4]:
test_data_a = pd.read_csv('test_data_A.csv')
test_data_a

,letter,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,N,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,D,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,O,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,E,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,O,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,A,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
import pandas as pd

df = pd.read_csv('A_Z_Data.csv', header=None)
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
372446,25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
372447,25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
372448,25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
372449,25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
372450,25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
# df[0] = df[0].replace(
#     {
#         0: 'A',
#         11: 'L',
#         15: 'P',
#         18: 'S',
#         20: 'U',
df_new = df[df[0].isin([0, 11, 15, 18, 20])]
df_new.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
letter_column = df_new[0]
letter_column

0          0
1          0
2          0
3          0
4          0
          ..
334273    20
334274    20
334275    20
334276    20
334277    20
Name: 0, Length: 122224, dtype: int64

In [33]:
df_drop = df_new.drop(columns=[0])
df_drop.tail()

,1,2,3,4,5,6,7,8,9,10,...,775,776,777,778,779,780,781,782,783,784
334273,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
334274,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
334275,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
334276,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
334277,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
df_normalized = df_drop.div(255.0)
df_normalized

,1,2,3,4,5,6,7,8,9,10,...,775,776,777,778,779,780,781,782,783,784
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334273,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
334274,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
334275,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
334276,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
334277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
df_normalized['expected'] = letter_column.astype(float)
df_normalized.tail()

,1,2,3,4,5,6,7,8,9,10,...,776,777,778,779,780,781,782,783,784,expected
334273,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0
334274,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0
334275,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0
334276,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0
334277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0

In [41]:
df_normalized.to_csv('APLUS.csv', index=False, header=False)